/* Custom styles for the slider */
.shader-background {
    background: linear-gradient(135deg, rgba(5, 5, 5, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.custom-slider {
    /* Add any custom styles for the slider container */
}

/* Custom styles for the arrows */
.custom-arrow {
    z-index: 1;
}

.custom-next {
    right: 10px;
}

.custom-prev {
    left: 10px;
}

/* Custom styles for the dots */
.custom-dot-class {
    bottom: -30px;
}

.custom-dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.slick-active .custom-dot {
    background-color: #333;
}

/* New Slider Styles */
.shader {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-bar {
    transition: width 0.3s ease;
}

.gallery-cell--text {
    max-width: 80%;
}

/* Hover effect for the hero bar */
.gallery-cell:hover .hero-bar {
    width: 64px;
}